<ion-content>
    <ion-card-title>
        <h4 class="title-center">{{ service }}</h4>

    </ion-card-title>
    <div class="map" id="map"></div>
    <ion-card>

        <ion-card-header>

            <ion-row>
                <ion-col size="4" class="content-user">
                    <div>
                        <img src="{{foto}}" class="img-user" *ngIf="foto != null && foto != null">
                        <ion-icon class="user-img" name="person-circle-outline" *ngIf="foto == null">

                        </ion-icon>
                        <hr>
                        <h1 *ngIf="colaborador != null && colaborador != null">{{colaborador}}</h1>
                    </div>
                </ion-col>
                <ion-col size="8" class="content-status">
                    <ion-item lines="none" class="custom-checkbox">
                        <ion-checkbox [(ngModel)]="status.buscando" disabled name="buscando" slot="start" class="check-customer"></ion-checkbox>
                        <ion-label>Buscando</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.encontrado" name="encontrado" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label>Encontrado</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.encamino" name="encamino" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label>En camino</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.enservicio" name="enservicio" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label>En servicio</ion-label>
                    </ion-item>
                    <ion-item class="item-check" lines="none">
                        <ion-checkbox [(ngModel)]="status.terminado" name="terminado" slot="start" disabled class="check-customer"></ion-checkbox>
                        <ion-label>Finalizado</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-card-header>

        <ion-card-content>


        </ion-card-content>
    </ion-card>



    <ion-footer class="myColor">
        Powered By: Asiste


    </ion-footer>

</ion-content>